<!-- Image logo and app name -->
  <nav class="navbar navbar-light bg-light navbar-fixed-top">
    <%= link_to (image_tag("logo.png", :class => "mr-3 d-inline-block align-top", :width => "34", :height => "34") + "RECONNECT"), root_path, :class => "navbar-brand" %>
  </nav>
<!-- Login form -->
  <div class="login-form">

    <%= form_tag login_path, class: 'border border-light p-5' do %>
      <p class="h4 mb-4 text-center">Log In</p>

      <% if flash[:error].present? %>
        <p class="alert alert-danger p-2 text-center"><%= flash[:error] %></p>
      <% end %>

      <!-- Email -->
      <%= label_tag :email %>
      <%= email_field_tag :email, nil, :class => "form-control mb-4", :placeholder => 'email@johndoe.com' %>

      <!-- Password -->
      <%= label_tag :password %>
      <%= password_field_tag :password, nil, :class => "form-control mb-4", :placeholder => 'Password' %>

      <!-- Login button -->
      <%= submit_tag "Log In", :class => "btn btn-info btn-block my-4" %>

      <!-- Sign Up -->
      <p class="text-center">
        Don't have an account?
        <%= link_to "Sign Up", new_user_path %>
      </p>
    <% end %>
  </div>
