<!-- When someone is LOGGED IN -->

<% if @current_user.present?%>
  <!-- Image logo and App name, Add Contact and Welcome User -->
  <nav class="navbar navbar-light bg-light navbar-fixed-top">
    <%= link_to (image_tag("logo.png", :class => "mr-3 d-inline-block align-top", :width => "34", :height => "34") + "RECONNECT"), root_path, :class => "navbar-brand" %>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Welcome,  <%= @current_user.name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Logout", login_path, :method => "delete", :class => "dropdown-item" %>
          </div>
        </li>
      </ul>
  </nav>

  <div class="container">
    <div class="row mt-4">
      <! -- Groups and Favourites -->
      <div class="col-md-3">
        <div class="list-group shadow-sm bg-white rounded">
          <!-- add a plus/add icon to create a group -->
          <div class="btn-group dropright">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Groups
            </button>
            <div class="dropdown-menu">
              <%= link_to "Create new group", new_group_path, :class => "dropdown-item" %>
              <%= link_to "Add new contact", new_contact_path, :class => "dropdown-item" %>
            </div>
          </div>
        </div>
        <% @groups.each do |group| %>
          <%= link_to group.name, group, :class => "list-group-item" %>
        <% end %>
      </div>
        <!-- to add favourites later -->
      <div class="col-md-9">
        <div class="title text-center col-md p-3">
          <strong>Edit Group</strong>
        </div>
        <%= render :partial => 'form' %>
      </div>
    </div>
  </div>
<% end %>
