<nav class="navbar navbar-light sticky-top" style="background-color: #FFE8E2;">
  <%= link_to (image_tag("logo.png", :class => "mr-3 d-inline-block align-top", :width => "34", :height => "34") + "RECONNECT"), root_path, :class => "navbar-brand" %>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Welcome,  <%= @current_user.name %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Logout", login_path, :method => "delete", :class => "dropdown-item" %>
        </div>
      </li>
    </ul>
</nav>



<div class="container">
  <div class="row mt-4">
    <! -- Groups and Favourites -->
    <div class="col-md-3">
      <div class="list-group shadow-sm bg-white rounded">
        <!-- add a plus/add icon to create a group -->
        <div class="btn-group dropright">
          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Groups
          </button>
          <div class="dropdown-menu">
            <%= link_to "Create new group", new_group_path, :class => "dropdown-item" %>
            <%= link_to "Add new contact", new_contact_path, :class => "dropdown-item" %>
          </div>
        </div>
        <% @groups.each do |group| %>
          <%= link_to group.name, group, :class => "list-group-item" %>
        <% end %>
      </div>
      <!-- to add favourites later -->
    </div>

    <div class="col-md-9 shadow p-3 mb-5 bg-white rounded">
      <div class="panel panel-default">
        <div class="row top-heading">
          <div class="col">
            <h2><%= @group.name %></h2>
          </div>
          <div class="col-md-auto">
          </div>
          <div class="col col-lg-3">
            <div class="row">

              <div class="p-3">
                <%= link_to contacts_path do %>
                  <i class="fas fa-address-book" title="Back to contacts list"></i>
                <% end %>
              </div>

              <div class="p-3">
                <%= link_to edit_group_path(@group) do %>
                  <i class="fas fa-edit" title="Edit"></i>
                <% end %>
              </div>

              <div class="p-3">
                <%= link_to @group, :method => "delete", :data => { :confirm => "Are you sure?" } do %>
                  <i class="fas fa-trash-alt" title="Delete"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <table class="table">
        <% @group.contacts.each do |contact| %>
        <tr>
          <td class="middle">
            <div class="media">
              <div class="media-left">
                <% if contact.photo.present? %>
                  <%= cl_image_tag(contact.photo, :class => 'img-circle img-thumbnail') %>
                <% else %>
                  <%= image_tag "no_pic.jpg", :width => "120", :height => "120", :class => "img-thumbnail" %>
                <% end %>
              </div>
              <div class="media-body">
                <h4 class="media-heading"><%= link_to contact.name, contact %></h4>
                  <address>
                    <strong><%= contact.email %></strong><br>
                    <%= contact.phone %>
                  </address>
              </div>
            </div>
          </td>
          <td width="100" class="middle">
            <div class="row">
              <div class="edit p-2">
                <%= link_to edit_contact_path(contact) do %>
                  <i class="fas fa-edit" title="Edit"></i>
                <% end %>
              </div>
              <div class="delete p-2">
                <%= link_to contact, :method => "delete", :data => { :confirm => "Are you sure?" } do %>
                  <i class="fas fa-trash-alt" title="Delete"></i>
                <% end %>
              </div>
            </div>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
