<%= form_for @contact do |f| %>
  <div class="form-group">
    <%= f.label :name, 'Full Name', :class => "control-label col-md-3" %>
    <div class="col-md-8">
      <%= f.text_field :name, :required => true, :autofocus => true, :placeholder => 'Full Name', :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, :class => "control-label col-md-3" %>
    <div class="col-md-8">
      <%= f.email_field :email, :required => true, :placeholder => 'Email', :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :phone, :class => "control-label col-md-3" %>
    <div class="col-md-8">
      <%= f.telephone_field :phone, :required => true, :placeholder => 'Phone', :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :address, :class => "control-label col-md-3" %>
    <div class="col-md-8">
      <%= f.text_area :address, :placeholder => 'Address', :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :company, :class => "control-label col-md-3" %>
    <div class="col-md-8">
      <%= f.text_field :company, :placeholder => 'Company', :class => "form-control" %>
    </div>
  </div>

  <%= link_to 'Cancel', contacts_path %>
  <%= f.submit %>
<% end %>
