<!-- When no user has logged in, home page with sign up/login form -->

<% if @current_user.nil?%>
  <!-- Image logo and app name -->
  <nav class="navbar navbar-light bg-light navbar-fixed-top">
    <%= link_to (image_tag("logo.png", :class => "d-inline-block align-top", :width => "34", :height => "34") + "RECONNECT"), root_path, :class => "navbar-brand" %>
  </nav>
    <!-- Login or Sign up form -->
    <div class="login-form">
      <%= form_tag login_path, class: 'border border-light p-5' do %>
        <p class="h4 mb-4 text-center">Log In</p>

        <!-- Email -->
        <%= label_tag :email %>
        <%= email_field_tag :email, nil, :class => "form-control mb-4", :placeholder => 'email@johndoe.com' %>

        <!-- Password -->
        <%= label_tag :password %>
        <%= password_field_tag :password, nil, :class => "form-control mb-4", :placeholder => 'Password' %>

        <!-- Login button -->
        <%= submit_tag "Log In", :class => "btn btn-info btn-block my-4" %>

        <!-- Sign Up -->
        <p class="text-center">
          Don't have an account?
          <%= link_to "Sign Up", new_user_path %>
        </p>
      <% end %>
    </div>
<% end %>

<!-- When someone is LOGGED IN -->

<% if @current_user.present?%>
  <!-- Image logo and App name, Add Contact and Welcome User -->
  <nav class="navbar navbar-light bg-light navbar-fixed-top">
    <%= link_to (image_tag("logo.png", :class => "d-inline-block align-top", :width => "34", :height => "34") + "RECONNECT"), root_path, :class => "navbar-brand" %>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Welcome,  <%= @current_user.name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Logout", login_path, :method => "delete", :class => "dropdown-item" %>
          </div>
        </li>
      </ul>
  </nav>

  <div class="container">
    <div class="row">
      <! -- Groups and Favourites -->
      <div class="col-md-3">
        <div class="list-group">
          <!-- add a plus/add icon to create a group -->
          <div class="btn-group dropright">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Groups
            </button>
            <div class="dropdown-menu">
              <%= link_to "Create new group", new_group_path, :class => "dropdown-item" %>
              <%= link_to "Add new contact", new_contact_path, :class => "dropdown-item" %>
            </div>
          </div>
          <% @groups.each do |group| %>
            <%= link_to group.name, group, :class => "list-group-item" %>
          <% end %>
        </div>
        <!-- to add favourites later -->
      </div>
      <! -- Contacts List -->
      <div class="col-md-9">
        <div class="panel panel-default">
  `      <table class="table">
          <!-- add/change plus/add icon to create a contact when font awesome works <i class="glyphicon glyphicon-plus"></i>-->
          <%= link_to "Add Contact", new_contact_path, :class => 'btn btn-info' %>
          <% @contacts.each do |contact| %>
            <tr>
              <td class="middle">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img src="https://www.fillmurray.com/100/100" alt="">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading"><%= link_to contact.name, contact %></h4>
                      <address>
                        <strong><%= contact.email %></strong><br>
                        <%= contact.phone %>
                      </address>
                  </div>
                </div>
              </td>
              <td width="100" class="middle">
                <div>
                  <!-- change to an icon later when font awesome works <i class="glyphicon glyphicon-edit"></i> <i class="glyphicon glyphicon-remove"></i> -->
                  <%= link_to "Edit", :class => "btn btn-info active" %>
                  <%= button_to "Delete", :class => "btn btn-danger", :data => { :confirm => "Are you sure?"} %>
                </div>
              </td>
            </tr>
          <% end %>
          </table>
        </div

        <div class="text-center">
          <nav>
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
<% end %>
