<!-- When no user has logged in, home page with sign up/login form -->

<% if @current_user.nil?%>
  <!-- Image logo and app name -->
  <nav class="navbar navbar-light bg-light navbar-fixed-top">
    <%= link_to (image_tag("logo.png", :class => "d-inline-block align-top", :width => "34", :height => "34") + "RECONNECT"), root_path, :class => "navbar-brand" %>
  </nav>
    <!-- Login or Sign up form -->
    <div class="login-form">
      <%= form_tag login_path, class: 'border border-light p-5' do %>
        <p class="h4 mb-4 text-center">Log In</p>

        <!-- Email -->
        <%= label_tag :email %>
        <%= email_field_tag :email, nil, :class => "form-control mb-4", :placeholder => 'email@johndoe.com' %>

        <!-- Password -->
        <%= label_tag :password %>
        <%= password_field_tag :password, nil, :class => "form-control mb-4", :placeholder => 'Password' %>

        <!-- Login button -->
        <%= submit_tag "Log In", :class => "btn btn-info btn-block my-4" %>

        <!-- Sign Up -->
        <p class="text-center">
          Don't have an account?
          <%= link_to "Sign Up", new_user_path %>
        </p>
      <% end %>
    </div>
<% end %>

<!-- When someone is LOGGED IN -->

<% if @current_user.present?%>
  <!-- Image logo and App name, Add Contact and Welcome User -->
  <nav class="navbar navbar-light bg-light navbar-fixed-top">
    <%= link_to (image_tag("logo.png", :class => "d-inline-block align-top", :width => "34", :height => "34") + "RECONNECT"), root_path, :class => "navbar-brand" %>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Welcome,  <%= @current_user.name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Logout", login_path, :method => "delete", :class => "dropdown-item" %>
          </div>
        </li>
      </ul>
  </nav>

  <div class="container">
    <div class="row">
      <! -- Groups and Favourites -->
      <div class="col-md-3">
        <div class="list-group">
          <div class="btn-group dropright">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Groups
            </button>
            <div class="dropdown-menu">
              <%= link_to "Create new group", new_group_path, :class => "dropdown-item" %>
              <%= link_to "Add new contact", new_contact_path, :class => "dropdown-item" %>
            </div>
          </div>
          <% @groups.each do |group| %>
            <%= link_to group.name, group, :class => "list-group-item" %>
          <% end %>
        </div>
        <!-- to add favourites later -->
        <!-- <div class="list-group">
          Favourites
          < @favourite.contacts.each do |contact| %>
            <li class="list-inline-item">
              < link_to contact.name, contact %>
            </li>
          < end %>
        </div> -->
      </div>
      <! -- Contacts List -->
      <div class="col-md-9">
        <div class="panel panel-default">
          <table class="table">
            <div class="row mt-4">
              <div class="col">
                <h3><strong class="p-2">Contacts List</strong></h3>
              </div>
              <div class="col-md-auto">
              </div>
              <div class="col col-lg-1">
                <a href="/contacts/new"><i class="fas fa-user-plus p-4" title="Add new contact"></i></a>
              </div>
            </div>
            <div class="container">
              <% if flash[:success].present? %>
                <p class="alert alert-success p-2 text-center"><%= flash[:success] %></p>
              <% elsif flash[:notice].present? %>
                <p class="alert alert-info p-2 text-center"><%= flash[:notice] %></p>
              <% end %>
            </div>
          <% @contacts.each do |contact| %>
            <tr>
              <td class="middle">
                <div class="media">
                  <div class="media-left">
                    <% if contact.photo.present? %>
                      <%= cl_image_tag(contact.photo, :class => 'img-circle img-thumbnail') %>
                    <% else %>
                      <%= image_tag "no_pic.jpg", :width => "100", :height => "100", :class => "img-thumbnail" %>
                    <% end %>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading"><%= link_to contact.name, contact %></h4>
                      <address>
                        <strong><%= contact.email %></strong><br>
                        <%= contact.phone %>
                      </address>
                  </div>
                </div>
              </td>
              <td width="100" class="middle">
                <div class="row">
                  <div class="edit p-2">
                    <%= link_to edit_contact_path(contact) do %>
                      <i class="fas fa-edit" title="Edit"></i>
                    <% end %>
                  </div>
                  <div class="delete p-2">
                    <%= link_to contact, :method => "delete", :data => { :confirm => "Are you sure?" } do %>
                      <i class="fas fa-trash-alt" title="Delete"></i>
                    <% end %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
          </table>
          <div class="text-center">
            <%= will_paginate(@contacts, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
          </div>
        </div
      </div>
    </div>
  </div>
<% end %>
